[submodule "sub/coq"]
	path = sub/coq
	url = https://github.com/DanGrayson/coq.git
	branch = primitive-projections
[submodule "sub/lablgtk"]
	path = sub/lablgtk
	url = http://forge.ocamlcore.org/anonscm/git/lablgtk/lablgtk.git
	branch = master
[submodule "sub/coq-tools"]
	path = sub/coq-tools
	url = https://github.com/JasonGross/coq-tools
